<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <a href="/user" style="text-decoration: none;">
            <p>Connecté en tant que <b>{{.Username}}</b></p>
        </a>
    </header>

    <div class="navbar">
        <h1><a href="/">Vroom Forum</a></h1>
        <div class="buttons">
            {{if .LoggedIn}}
            <a href="/logout"><button>Déconnexion</button></a>
            {{else}}
            <a href="/login"><button>Login</button></a>
            <a href="/signup"><button>Sign up</button></a>
            {{end}}
        </div>
    </div>
    <div class="boxbox">
        <div class="post-box">
            <div class="user-box">
                <h2>Modifier le mot de passe</h2>
                <form method="post">
                    <label for="oldPass">Mot de passe actuel:</label><br>
                    <input type="password" id="password" name="oldPass" required><br>
                    <label for="newPass">Nouveau mot de passe:</label><br>
                    <input type="password" id="password" name="newPass" required><br>
                    <input type="submit" value="Mettre à jour">
                </form>
            </div>
        </div>
    </div>
    </h2>Mes messages:</h2>
    <div class="posts">
        {{range .Posts}}
        <div class="post">
            <p><a href="/topic?t={{.PostID}}">{{.Title}}</a></p>
            <p class="date-post">Posté le: {{.DatePost}}</p>
        </div>
        {{end}}
    </div>
</body>

</html>